h1 {
  margin-bottom: 24px;
}
h4 {
  margin-top: 12px;
}
.no-js .mf-form div.step,
.no-js .mf-breadcrumbs,
.js .hide-if-js,
.no-js .hide-if-no-js {
  display: none;
}
.center {
  text-align: center;
}
.clear {
  clear: both;
}
.first {
  width: 195px;
  float: left;
  text-align: center;
  padding: 10px 10px 10px 0;
}
.third {
  width: 186px;
  float: left;
  text-align: center;
  padding: 10px;
}
.third:last-child {
  width: 198px;
  float: left;
  text-align: center;
  padding: 10px 0 10px 10px;
}
.adblock {
  margin: 20px 0;
}
.columns {
  margin-left: 0px;
  column-count: 5;
  -moz-column-count: 5;
  /* Firefox */
  -webkit-column-count: 5;
  /* Safari and Chrome */
}
.media-object.thumbnail.pull-left {
  margin-right: 20px;
}
.topad {
  width: 728px;
  height: 92px;
  margin: 10px auto 0;
}
.faire-thumb {
  max-width: 130px;
  max-height: 130px;
}
.news h3 {
  margin: -20px 10px 0;
  color: #333;
  font-weight: 300;
  font-size: 20px;
  font-family: "bebas-neue", sans-serif;
}
.news h3 a {
  margin: 25px 0 0;
  color: #FC040C;
  font-weight: 300;
  font-size: 28px;
  font-family: "bebas-neue", sans-serif;
}
.news h4 {
  margin: 22px 0 5px 0;
  font-size: 14px;
  line-height: 16px;
}
.newsies {
  margin-bottom: 20px;
  margin-top: 25px;
}
.newsies h3 {
  margin-bottom: -5px;
}
.smaller {
  font-size: 16px;
  line-height: 24px;
}
.smaller small {
  font-size: 14px;
}
.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0px 15px 0px;
  background: #333;
  background: rgba(0, 0, 0, 0.75);
}
.post_thumb {
  margin-right: 10px;
}
.post_thumb img {
  padding: 3px;
  border: 1px solid #aaa;
  background-color: #eee;
}
header {
  margin: 0 0 40px;
  height: 187px;
  border-bottom: 2px solid #60c9f2;
  background-color: #a0e0f9;
  background-image: url('../images/header_bg.gif');
  -webkit-box-shadow: 0px 0px 10px px #999;
  -moz-box-shadow: 0px 0px 10px #999;
  box-shadow: 0px 0px 10px #999;
}
header .container {
  height: 129px;
  background-repeat: no-repeat;
}
header h1 {
  float: left;
  margin-top: 5px;
}
header .blurb {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
  width: 118px;
  color: #CC2429;
  font-weight: 800;
  font-size: 11px;
}
.tagline {
  margin-top: 10px;
  color: #2e3b58;
  font-size: 14px;
  font-family: georgia, serif;
  margin-bottom: 0px;
}
footer {
  padding-top: 40px;
  padding-bottom: 20px;
}
footer .pills {
  margin-top: 20px;
  margin-left: 100px;
}
footer .pills a {
  color: #5a6479;
}
.beige {
  margin-top: 40px;
  background-color: #f2ebd4;
}
.more_faires {
  padding: 10px;
  max-height: 373px;
  min-height: 371px;
  border: 1px solid #D0D0CE;
  background-color: #E8F1F4;
}
.more_faires h3,
.more_faires h4 {
  font-family: "bebas-neue", sans-serif;
  font-weight: 300;
}
.more_faires h3 {
  margin-bottom: 10px;
  color: #67abc6;
  font-size: 32px;
}
.more_faires h4 {
  margin: 10px 0px;
  color: #67abc6;
  font-size: 28px;
}
.more_faires ul {
  margin-bottom: 0;
}
.more_faires ul li {
  list-style-image: url('../images/arrow.gif');
  font-size: 14px;
  line-height: 16px;
}
.more_faires ul li a {
  color: #065270;
  font-weight: bold;
}
.footer_copyright {
  font-size: 12px  !important;
  line-height: 16px  !important;
  font-weight: normal !important;
  margin-bottom: 0px;
}
.home-page .top-header {
  font-family: 'Helvertica Neue', sans-serif;
  margin-bottom: 19px;
}
.home-page .big-title {
  color: #ed1c24;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 1em;
}
.home-page .big-title span {
  font-size: 38px;
  line-height: .8em;
}
.home-page .right-border {
  border-right: 3px solid #ed1c24;
}
.home-page .exhibit-types {
  color: #464646;
  font-size: 24px;
}
.home-page .exhibit-types ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.home-page .exhibit-types li {
  padding: 0;
  line-height: 1.2em;
  font-weight: 600;
  display: inline;
}
.home-page .bulleted li:after,
.home-page .bulleted .bulleted-after:after {
  content: " \2022";
  font-size: 30px;
  color: #ed1c24;
  position: relative;
  top: 3px;
}
.home-page .bulleted li.no-bull:after {
  content: "";
  top: 0;
  color: transparent;
  font-size: 1em;
}
.home-page .bulleted-after {
  text-decoration: none;
}
.home-page .top-featured {
  margin-bottom: 19px;
}
.home-page .top-content {
  font-size: 16px;
}
.home-page .top-content .big-title {
  font-size: 23px;
  margin-bottom: 19px;
}
.home-page .top-content .arrowfy {
  list-style: none;
  margin: 0;
  padding: 0;
}
.home-page .top-content .arrowfy li {
  margin-bottom: 17px;
  padding-left: 17px;
  background: url('images/bullet-arrow.png') 0 3px no-repeat;
}
.home-page .upcoming-faires.thumbnail {
  border-color: #ccc;
  padding: 0;
  margin-bottom: 15px;
}
.home-page .upcoming-faires .border-bottom {
  border-bottom: 1px solid #ccc;
  padding: 4px 8px;
}
.home-page .upcoming-faires h3,
.home-page .upcoming-faires .border-bottom p {
  font-size: 18px;
  line-height: 1em;
  text-transform: uppercase;
  display: inline-block;
}
.home-page .upcoming-faires .aligncenter {
  text-align: center;
  padding: 8px;
}
.home-page .faire-headline {
  font-size: 18px;
  margin-bottom: 7px;
}
.home-page .faire-headline a {
  font-size: 20px;
}
.home-page .aligncenter p {
  font-size: 18px;
}
.sidebar-bordered {
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  margin-bottom: 20px;
  text-align: center;
}
.sidebar-bordered .makey {
  margin-top: -25px;
  margin-left: -14px;
  margin-right: -3px;
}
.sidebar-bordered .counter-title {
  margin: 15px 20px 16px;
  font-size: 20px;
  line-height: 1.2em;
  font-family: "Proxima Nova", sans-serif;
  text-align: right;
}
.sidebar-bordered h5 {
  font-size: 14px;
  text-align: center;
}
.sidebar-bordered .center {
  text-align: center;
}
.sidebar-bordered .buy-tickets {
  text-align: center;
}
.sidebar-bordered #subForm {
  margin-left: 12px;
}
.sidebar-bordered #subForm .btn {
  margin-top: -1px;
}
.sidebar-bordered.sponsored {
  padding-top: 20px;
}
.sidebar-bordered.sponsored h3 {
  margin-top: 0;
  color: #898989;
}
.sidebar-bordered.sponsored img {
  text-align: center;
}
.sidebar-bordered.sponsored .zazzle {
  margin-top: 12px;
}
.sidebar-bordered .thumb {
  text-align: center;
}
.sidebar-bordered .count-down-sub {
  font-size: 21px;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1em;
  color: #363636;
}
.sidebar-bordered .count-down-sub-sub {
  padding-top: 10px;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  color: #898989;
  font-weight: 400;
  margin-bottom: 10px;
}
.sidebar-bordered-nl {
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  margin-bottom: 20px;
}
.sidebar-bordered-nl .news-signup {
  margin-left: 13px;
}
.sidebar-bordered-nl .control-group {
  padding: 0 15px;
}
.sidebar-bordered-nl .hidden h5 {
  margin: 7px 0;
  font-size: 14px;
  text-align: left;
}
.sidebar-bordered-nl .makey {
  margin-top: -25px;
  margin-left: 10px;
  margin-right: -3px;
}
.sidebar-bordered-nl h3 {
  color: #464646;
  margin: 10px 20px;
  font-size: 18px;
  text-align: center;
  line-height: 1em;
  font-family: "Proxima Nova", sans-serif;
}
.sidebar-bordered-nl input[type="checkbox"] {
  margin: 0 0 3px 20px!important;
}
.soc_icons {
  margin: 0 0 0 14px;
  display: table;
}
.soc_icons a {
  margin: 0 8px 15px 0;
  display: block;
  float: left;
}
.soc_thanks {
  margin: auto;
}
.footer-sprite {
  background-image: url('../images/mf_sprites.png');
}
.footer-sprite.ico-facebook {
  background-position: 0 0;
  width: 32px;
  height: 32px;
}
.footer-sprite.ico-twitter {
  background-position: 0 -170px;
  width: 32px;
  height: 32px;
}
.footer-sprite.ico-google-plus {
  background-position: 0 -68px;
  width: 32px;
  height: 32px;
}
.footer-sprite.ico-flickr {
  background-position: 0 -34px;
  width: 32px;
  height: 32px;
}
.footer-sprite.ico-instagram {
  background-position: 0 -102px;
  width: 32px;
  height: 32px;
}
.footer-sprite.ico-youtube {
  background-position: 0 -204px;
  width: 32px;
  height: 32px;
}
.footer-sprite.ico-rss {
  background-position: 0 -136px;
  width: 32px;
  height: 32px;
}
.twitter,
.adblock {
  margin-bottom: 20px;
}
.featured {
  margin: 20px 0;
}
.featured .span1 img {
  width: 60px;
}
.featured .span3 h4 {
  margin: 0px;
}
.featured h2 {
  margin: 20px 0 0;
  font-weight: 300;
  font-size: 28px;
  font-family: "bebas-neue", sans-serif;
}
.featured h2 a {
  color: #333;
}
.featured h3 {
  margin-bottom: 10px;
  color: #fc040c;
  font-size: 21px;
  line-height: 100%;
}
.featured h3 a {
  margin-bottom: 5px;
  color: #fc040c;
  font-size: 21px;
  line-height: 100%;
}
.featured h4 {
  margin-bottom: 3px;
  color: #000;
  font-size: 18px;
  line-height: 100%;
}
.featured h6 {
  margin-bottom: 10px;
}
.countdown-numbers {
  margin: 15px 15px 0px 0px;
  padding-top: 5px;
  padding-left: 5px;
  background-color: transparent;
}
.countdown-numbers th {
  color: #fc040c;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.countdown-numbers td {
  width: 20px;
}
tr.time {
  height: 45px;
  color: #707070;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
}
.count img {
  display: block;
  margin: 0 auto;
  width: 296px;
}
.count h3 {
  margin: 25px 0 0;
  text-align: center;
  font-size: 18px !important;
}
.separator {
  color: #000 !important;
}
.lead ul li {
  line-height: 120%;
}
.search .search-title {
  margin-bottom: 5px;
}
.search #faire-dropdown-search {
  position: relative;
  top: 1px;
  margin: 0 7px;
}
.table-schedule thead tr th {
  background-color: #E1E1E1;
  font-size: 16px;
}
.thank_you {
  margin-left: auto;
  margin-right: auto;
  background: url('http://makerfaire.files.wordpress.com/2013/11/mfthankyou_background_high.jpg') no-repeat;
  height: 628px;
}
.thank_you .ty_shadow {
  text-align: center;
  margin: auto;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 320px;
  height: 180px;
  -webkit-box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  background-color: #ffffff;
}
.thank_you .ty_shadow h2 {
  font-size: 38px !important;
}
.thank_you .ty_shadow h4 {
  font-size: 20px !important;
  font-weight: normal !important;
  line-height: 22px;
}
.thank_you .ty_shadow .ty_social_icons {
  margin: 15px auto 15px auto;
}
.navi {
  float: right;
  margin-top: 20px;
  width: 580px;
}
.navi .menu > li {
  display: inline-block;
  margin: 0;
}
.navi .menu > li.menu-item-type-custom {
  position: relative;
}
.navi .menu > li > a div {
  display: none;
}
.navi .menu > li:hover .sub-menu {
  display: block;
}
.navi .menu > li.whats-it-about > a {
  background-image: url('../images/whats-it-about.png');
  background-repeat: no-repeat;
  display: block;
  height: 65px;
  width: 95px;
  cursor: default !important;
}
.navi .menu > li.whats-it-about .sub-menu {
  left: 7px;
}
.navi .menu > li.checkout-program > a {
  background-image: url('../images/check-out-the-program.png');
  background-repeat: no-repeat;
  display: block;
  height: 65px;
  width: 120px;
  cursor: default !important;
}
.navi .menu > li.checkout-program .sub-menu {
  left: 1px;
}
.navi .menu > li.how-participate > a {
  background-image: url('../images/how-to-participate.png');
  background-repeat: no-repeat;
  display: block;
  height: 65px;
  width: 160px;
  cursor: default !important;
}
.navi .menu > li.how-participate .sub-menu {
  left: 5px;
}
.navi .menu > li.in-the-media > a {
  background-image: url('../images/nav_03.png');
  background-repeat: no-repeat;
  display: block;
  height: 65px;
  width: 85px;
  cursor: default !important;
}
.navi .menu > li.in-the-media .sub-menu {
  left: 2px;
}
.navi .menu > li.all-faires > a {
  background-image: url('../images/nav_04.png');
  background-repeat: no-repeat;
  display: block;
  height: 65px;
  width: 92px;
  cursor: default !important;
}
.navi .menu > li.all-faires .sub-menu {
  left: 3px;
}
.navi .sub-menu {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  left: 0;
  list-style: none outside none;
  margin: 0;
  min-width: 160px;
  padding: 4px 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
}
.navi .sub-menu li a {
  clear: both;
  color: #333;
  display: block;
  line-height: 18px;
  padding: 3px 15px;
  white-space: nowrap;
}
.navi .sub-menu li a:hover,
.navi .sub-menu li a:active {
  color: #fff;
  background: #0088cc;
  text-decoration: none;
}
.navi .sub-menu .sub-heading {
  font-weight: bold;
  margin-left: -5px;
}
.navi .sub-menu .sub-heading a:hover,
.navi .sub-menu .sub-heading a:active {
  color: #fff;
}
.navi .sub-menu .bottom-border {
  border-bottom: 1px solid #e6e6e6;
}
.inline {
  display: inline-block;
  margin: 0 -4px;
}
.navbar-inner,
.navbar .fill {
  border-top: 1px solid #1E242D;
  border-bottom: 1px solid #275392;
  background-color: #2E435E;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2e435e), to(#172e50));
  background-image: -moz-linear-gradient(top, #2e435e, #172e50);
  background-image: -ms-linear-gradient(top, #2e435e, #172e50);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e435e), color-stop(100%, #172e50));
  background-image: -webkit-linear-gradient(top, #2e435e, #172e50);
  background-image: -o-linear-gradient(top, #2e435e, #172e50);
  background-image: linear-gradient(top, #2e435e, #172e50);
  background-repeat: repeat-x;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e435e', endColorstr='#172e50', GradientType=0);
}
.navbar {
  margin-bottom: 0;
}
.navbar .container {
  width: 940px;
}
.navbar .navbar-inner .container .nav > li > a {
  color: #fff !important;
  font-weight: bold;
}
.navbar form {
  margin: 5px 0px 0px;
}
.navbar .btn,
.navbar .btn-group {
  margin-top: 0px;
}
.navbar-inner .container .nav > li > a.red {
  color: #ED1C24 !important;
  font-weight: bold;
  font-size: 20px;
  margin-top: -2px;
  padding-left: 0px;
}
.navbar-inner .container .nav > li > a.red:hover {
  color: #fff !important;
}
.tab-content h3 {
  line-height: 100%;
}
.tab-content h4 {
  margin: 6px 0 6px;
}
.meetthemakers {
  background-color: #fff;
  background: rgba(255, 255, 255, 0.8);
  top: 230px;
  margin-left: 0px;
  position: relative;
  z-index: 999;
  width: 163px;
  padding: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.banner {
  height: 230px;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: -230px;
  margin-left: 420px;
  position: relative;
  z-index: 999;
  width: 200px;
  padding: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.banner h3,
.banner h4 {
  line-height: 100%;
  font-size: 16px;
}
.banner h3.red {
  font-size: 18px;
  margin-bottom: 6px;
}
.banner .bordered {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-top: 6px;
  padding: 5px 0;
  margin-bottom: 4px;
}
.banner .bordered h3 {
  margin: 0px 0 8px;
  line-height: 120%;
}
.banner .bordered h4 {
  margin: 0px 0 4px;
}
.banner .bordered h4.blue {
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 0px;
  margin-top: 6px;
}
#featuredMakers {
  margin-top: -46px;
}
#biggins .carousel-control {
  top: 80%;
}
.topper {
  border-top: 2px solid #ca3e2a;
  border-bottom: 2px solid #ca3e2a;
  padding: 10px 0;
  margin-bottom: 10px;
}
.topper h2 {
  font-size: 58px;
  letter-spacing: -3px;
  line-height: 70px;
}
.topper p {
  font-weight: bold;
  font-size: 15px;
}
.topper .blue,
.blue a {
  color: #00adef;
}
