footer {
	padding-top:40px;
	padding-bottom:20px;
	.pills {
		margin-top:20px;	
		margin-left:100px;
		a {
			color:#5a6479;
		}
	}
}

.beige {
	margin-top:40px;
	background-color:#f2ebd4;
}

.footer_copyright {
	font-size: 12px  !important;
	line-height: 16px  !important;
	font-weight: normal !important;
	margin-bottom: 0px;
}