.sidebar-bordered {
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	margin-bottom: 20px;
	text-align: center;
	.makey {
		margin-top: -25px;
		margin-left: -14px;
		margin-right: -3px;
	}
	.counter-title {
		margin:15px 20px 16px;
		font-size:20px;
		line-height:1.2em;
		font-family:"Proxima Nova", sans-serif;
		text-align: right;
	}
	h5 {
		font-size:14px;
		text-align: center;
	}
	.center {
		text-align: center;
	}
	.buy-tickets {
		.center;
	}
	#subForm {
		margin-left: 12px;
		.btn {
			margin-top: -1px;
		}
	}
	&.sponsored {
		padding-top: 20px;
		h3 {
			margin-top:0;
			color: #898989;
		}
		img {
			.center;
		}
		.zazzle {
			margin-top: 12px;
		}
	}
	.thumb {
		.center;
	}
	.count-down-sub {
		font-size:21px;
		font-family:"Helvetica Neue", sans-serif;
		line-height:1em;
		color:#363636;
	}
	.count-down-sub-sub {
		padding-top:10px;
		font-size:16px;
		font-family:"Helvetica Neue", sans-serif;
		color:#898989;
		font-weight:400;
		margin-bottom:10px;
	}
}

.sidebar-bordered-nl {
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	margin-bottom: 20px;
	.news-signup {
		margin-left: 13px;
	}
	.control-group {
		padding: 0 15px;
	}
	.hidden {
		h5 {
			margin: 7px 0;
			font-size:14px;
			text-align: left;
		}
	}
	.makey {
		margin-top: -25px;
		margin-left: 10px;
		margin-right: -3px;
	}
	h3 {
		color: #464646;
		margin: 10px 20px;
		font-size: 18px;
		text-align: center;
		line-height: 1em;
		font-family:"Proxima Nova", sans-serif;
	}
	input[type="checkbox"] {
		margin: 0 0 3px 20px!important;
	}
}

// SOCIAL MEDIA SPRITES
.soc_icons {
	margin: 0 0 0 14px;
	display:table;
	a {
		margin: 0 8px 15px 0;
	    display: block;
		float: left;
	}
}
.footer-sprite {
	background-image:url('../images/mf_sprites.png');
	&.ico-facebook { 
		background-position: 0 0; 
		width: 32px; 
		height: 32px; 
	} 
	&.ico-twitter { 
		background-position: 0 -170px; 
		width: 32px; 
		height: 32px; 
	} 
	&.ico-google-plus { 
		background-position: 0 -68px; 
		width: 32px; 
		height: 32px; 
	} 
	&.ico-flickr { 
		background-position: 0 -34px; 
		width: 32px; 
		height: 32px; 
	} 
	&.ico-instagram { 
		background-position: 0 -102px; 
		width: 32px; 
		height: 32px; 
	} 
	&.ico-youtube { 
		background-position: 0 -204px; 
		width: 32px; 
		height: 32px; 
	}
	&.ico-rss { 
		background-position: 0 -136px; 
		width: 32px; 
		height: 32px; 
	} 
}

.twitter, .adblock {
	margin-bottom: 20px;
}

// Special styling for featured sponsors? Pulled from root style.css. Possible to remove.
.featured {
	margin:20px 0;
	.span1 img {
		width:60px;
	}
	.span3 h4 {
		margin:0px;
	}
	h2 {
		margin:20px 0 0;
		font-weight: 300;
		font-size:28px;
		font-family: "bebas-neue", sans-serif;
		a {
			color:#333;	
		}
	}
	h3 {
		margin-bottom:10px;
		color:#fc040c;
		font-size:21px;
		line-height:100%;
		a {
			margin-bottom:5px;
			color:#fc040c;
			font-size:21px;
			line-height:100%;
		}
	}
	h4 {
		margin-bottom:3px;
		color:#000;
		font-size:18px;
		line-height:100%;
	}
	h6 {
		margin-bottom:10px;
	}
}

// Countdown
.countdown-numbers {
	margin:15px 15px 0px 0px;
	padding-top: 5px;
	padding-left: 5px;
	background-color: transparent;
	th {
		color:#fc040c;
		text-align: center;
		font-weight: bold;
		font-size: 40px;
	}
	td {
		width: 20px;
	}
}

tr.time {
	height:45px;
	color:#707070;
	text-align:center;
	font-weight:300;
	font-size:18px;
}
.count {
	img {
		display:block;
		margin:0 auto;
		width:296px;
	}
	h3 {
		margin:25px 0 0;
		text-align:center;
		font-size:18px !important;
	}
}
.separator {
	color:#000 !important;
}