.sidebar-bordered {
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	margin-bottom: 20px;
	.makey {
		margin-top: -25px;
		margin-left: 10px;
		margin-right: 8px;
	}
	.counter {
		margin-top: 25px;
		margin-bottom: 10px;
	}
	h5 {
		text-align: center;
		font-size:14px;
	}
	.center {
		text-align: center;
	}
	.buy-tickets {
		.center;
	}
	h3 {
		color: #464646;
		margin: 0 20px 10px;
		font-size: 18px;
		text-align: center;
		line-height: 20px;
	}
	#subForm {
		margin-left: 12px;
		.btn {
			margin-top: -1px;
		}
	}
	.bm ul li {
		margin-right: 5px;
	}
	&.sponsored {
		padding-top: 20px;
		h3 {
			color: #898989;
		}
		img {
			.center;
		}
		.zazzle {
			margin-top: 12px;
		}
	}
	.thumb {
		.center;
	}
	.adblock {
		margin-bottom: 20px;
	}
}