/*
Theme URI: http://makerfaire.com
Author: Jake Spurlock
Author URI: http://jakespurlock.com
Description: The goal was to launch this for Maker Faire, here we are a few months later with a better product, something that we can really be proud of. Credits: Jason Babler - Designer Extraordinairre, Melissa Morgan - Content Killer, Tyler Moskowite - Script Foo Bar, and Jake Spurlock, everything else...
Version: 1.0
License: GNU General Public License
License URI: license.txt
*/